body {
	margin: 0;
	padding: 0;
	background: #202020;
}

.container {
	width: 100vw;
	height: 100vh;
	background: url(bgFuture.svg);
}

.overlay {
	position: absolute;
	z-index: 99;
	background: rgba(0,0,0,0.6);
	width: 100vw;
	height: 100vh;
	clip-path: circle(300px at 50vw, 50vh);
}